body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* recharts */

.recharts-yAxis {
  transition: transform ease-in-out;
}

.recharts-tooltip-wrapper {
  outline: none !important;
}

/* Toast */

:root {
  --toastify-icon-color-error: black !important;

  --toastify-font-family: 'Work Sans', sans-serif !important;

  --toastify-text-color-light: black !important;
}

.Toastify__toast--error {
  background: #ff9900 !important;
}

.Toastify__close-button {
  opacity: 0.7 !important;
}
