@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Crimson Text', serif;
}

input {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --toastify-color-light: #ff9900 !important;

  --toastify-icon-color-error: black !important;

  --toastify-font-family: 'Work Sans', sans-serif !important;

  --toastify-text-color-light: black !important;
}

.Toastify__close-button {
  opacity: 0.7 !important;
}
